body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#modelArea {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.controls {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.4);
    height: fit-content;
    width: 100%;
}

#planeRotationControl {
    display: flex;
    color: rgb(252, 252, 252);
    margin: 5px 0 5px 0;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#planeRotationControl p {
    width: 150px;
}

#planeRotationSlider {
    width: 50%;
}