body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#modelArea {
    height: 100vh;
    width: 100vw;
    background-color: black;
}